In [2]:
import json
import os

am = []
am_path = '../AdverseMedia_13.11.20/AM/'
for filename in os.listdir(am_path):
    with open(f'{am_path}{filename}') as f:
        contents = json.load(f)
        if float(contents['prediction_score']) >= 0.9:
            am.append(contents['cleaned_article'])
            
nam = []
nam_path = '../AdverseMedia_13.11.20/NAM/'
for filename in os.listdir(nam_path):
    with open(f'{nam_path}{filename}') as f:
        contents = json.load(f)
        if float(contents['prediction_score']) >= 0.9:
            nam.append(contents['cleaned_article'])

In [3]:
len(am), len(nam)

(676, 3786)

In [4]:
import pandas as pd

am_df = pd.DataFrame({'article': am, 'label': [1]*len(am)})

In [5]:
nam_df = pd.DataFrame({'article': nam, 'label': [0]*len(nam)})

In [6]:
df = nam_df.append(am_df)

In [7]:
df.shape, len(am) + len(nam)

((4462, 2), 4462)

In [9]:
df.to_csv('../additional_data_high_score.csv', index=False)

In [10]:
!zip ../additional_data_high_score.csv.zip ../additional_data_high_score.csv

  adding: ../additional_data_high_score.csv (deflated 66%)

In [11]:
pd.read_csv('../additional_data_high_score.csv.zip')

                                                article  label
0     [TITLE] Macquarie Group (MQG:AUD129.90) offers...      0
1     [TITLE] Magna Announces First Quarter 2020 Fin...      0
2     [TITLE] BHP hits hurdle with $31m fine for bre...      0
3     [TITLE] Stock Weekly: BHP Group ADR (BHP:$54.1...      0
4     [TITLE] Briefing [TITLE] \n\nScotiabank also s...      0
...                                                 ...    ...
4457  [TITLE] Manulife was subject to FINTRAC fine [...      1
4458  [TITLE] Big banks face $100m blow as ANZ confe...      1
4459  [TITLE] ASX enjoys one of the best years this ...      1
4460  [TITLE] Manulife Financial fined $1.15 million...      1
4461  [TITLE] Businesses sue Macquarie over 'scam' [...      1

[4462 rows x 2 columns]